<footer class="site-footer">
    <p class="text">
      Group for the study, promotion and living history from antiquity to the modern age and Croatian and European cultural and historical heritage </br>
      <b>Address:</b> Ilica 179, 10000 Zagreb, Hrvatska </br>
      <b>OIB:</b> 56902154927 </br>
      <b>IBAN:</b> HR2423900011101335111, Hrvatska poštanska banka d.d. </br>
      <b>Broj i datum Rješenja o registraciji:</b> 6.6.2022. 21014474 </br>
      <b>RNO (Registar neprofitnih organizacija):</b>  0473197 
        {{ site.footer_text | default: "Powered by <a href='https://jekyllrb.com/'>Jekyll</a> with <a href='https://github.com/sylhare/Type-on-Strap'>Type on Strap</a>" }}</p>
            <div class="footer-icons">
                <ul>
                <!-- Social icons from Font Awesome, if enabled -->
                {% include social/icons.liquid %}
                </ul>
            </div>
</footer>


