<!-- services Grid Section -->
<div class="services-grid">
    {% for item in site.services %}
    <div class="services-cell">
        <a class="services-link" data-keyboard="true" href="{{ item.url | relative_url }}">
            <img alt="" class="" src="{{ item.img | relative_url }}" title="{% t item.title %}" alt="{% t item.title %}">
            <div class="caption-content" title="{% t item.title %}">
                {% t item.title %}
            </div>
        </a>
    </div>
    <div> {% t item.title %} </div>
    {% endfor %}
</div>
