<!-- services Grid Section -->
<div class="services-grid">
    {% for item in site.services %}
    <div class="services-cell">
        <a class="services-link" data-keyboard="true" href="{{ item.url | relative_url }}">
            <img alt="" class="" src="{{ item.img | relative_url }}" title="{{% t item.title %}}">
            <div class="caption" title="{{% t item.title %}}">
                <!-- <div class="caption-content"> -->
                    {{% t item.title %}}
                <!-- </div> -->
            </div>
        </a>
    </div>
    {% endfor %}
</div>
