<!-- Services Grid Section -->
<div class="services-grid">
    {% for item in site.workshops %}
    <div class="services-cell">
        <a class="services-link" data-keyboard="true" href="{{ item.url | relative_url }}">
            <div class="caption" title="{{% t item.title %}}">
                <div class="caption-content">
                    {{% t item.title %}}
                </div>
            </div>
            <img alt="" class="" src="{{ item.img | relative_url }}">
        </a>
    </div>
    {% endfor %}
</div>
