.services-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;


  .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 100;
    &:hover {
      opacity: 1;
    }

    // .caption-content {
    //   font-size: 15px;
    //   color: white;
    //   text-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd;
    //   display: inline-block;
    //   vertical-align: middle;

    //   @media screen and (max-width: $sm-break) {
    //     font-size: 7px;
    //   }
    // }
  }
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.services-cell {
  flex: 0 0 32%;
  margin-bottom: 10px;
}
